<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35344141665-ah73ihrbdhcdjd857l8s5qg1rsh0qv0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35344141665-ah73ihrbdhcdjd857l8s5qg1rsh0qv0a</string>
	<key>API_KEY</key>
	<string>AIzaSyAWMsTfsk45HqgPPX1q2_s2AgG4hWH5gHI</string>
	<key>GCM_SENDER_ID</key>
	<string>35344141665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.plotsklapps.trdlTool</string>
	<key>PROJECT_ID</key>
	<string>trdltool-2021</string>
	<key>STORAGE_BUCKET</key>
	<string>trdltool-2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35344141665:ios:b730eec8531992ff334920</string>
</dict>
</plist>